h1, p, ol, ul {
    text-align: center;
}
ul:hover, ol:hover {
    background-color:yellow;
}
li:active{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
li{list-style:none}